body {margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ddd;
    display: flex;
}
 .logo {
     width: 90px;
 }
.icon-menu {
    display: none;
    margin-right: 30px;
    padding: 10px 2px;
    width: 70px;
    height: 50px;
    
}
.icon-menu:hover {
    cursor: pointer;
}
 @media(max-width: 800px ){
    header img {
        width: 90px;
        height: 90px;
    }
    header ul {
        display: none;
    }
    .icon-menu {
        display: block;
    }

 }

 header {
     position: fixed;
     width: 100%;
     background: #fff;
     padding: 15px;
     display: flex;
     justify-content: space-between;
 }

 header ul {
     margin: 20px;
 }
 header li {
    display: inline;
    font-size: 15pt;
    margin: 0 10px;
    padding: 15px;
    cursor: pointer;
 }
 header li:hover {
     transition: 0.1s;
     background: #333;
     color: #fff;
     padding: 15px;
     border-radius: 5px;

 }

 .corpo {
     width: 100%;
     margin-top: 130px;
 }

 .content {
     margin: 0 auto;
     height: 100px;
     width: 90%;
     box-shadow: 2px 2px 4px grey;
     background: #fff;
     text-align: center;

 }